:root {
  --sidebar-hero-height: 17vh; 
}

@font-face {
  font-family: norse-font;
  src: url(assets/Norse-Bold.otf);
}

body {
  margin: 0 13vw;
  padding: 0;
}
.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  flex: 6;
}

.form-container {
  flex: 10;
  display: flex;
  flex-direction: column;
}

.form-container > .info {
  flex: 1;
  max-height: 34.5%;
}

.form-container > .form {
  flex: 1;
  max-height: 31%;
}

.form-container > .actions {
  flex: 1;
  max-height: 34.5%;
}

.sidebar {
  background-image: url(assets/halie-west-25xggax4bSA-unsplash.jpg);
  background-position: center center;
  background-size: cover;
}

.sidebar > .branding {
  width: 100%;
  height: var(--sidebar-hero-height);
  display: flex;
  position: relative;
  top: 18vh;
  justify-content: center;
  align-items: center;  
  background: rgba(0,0,0,0.4);
}

.sidebar > .branding > img {
  width: 10vh;
  height: auto;
}

.branding p {
  display: inline;
  font-family: norse-font;
  font-size: 5.5rem;
  color: white;
}

.sidebar .copyright {
  height: calc(100% - var(--sidebar-hero-height));
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.sidebar .copyright p {
  color: white;
}

.form-container {
  background: rgba(250,250,250,1);
}

.form-container > .info {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.form-container > .info > .info-text {
  margin-bottom: 3rem;
}

.form-container .form {
  background: white;
  box-shadow: 0px 1px 4px 2px rgba(0,0,0,0.1),
              0px -1px 4px 2px rgba(0,0,0,0.02);
}

.info-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: bolder;
}

/* To undo any auto margins */
.form-container .form p {
  margin: 0;
}

.form-container .form .legend {
  margin: 1rem 3rem;
}

.left-margin {
  margin-left: 3rem;
}

form label {
  font-size: 0.7rem;
  text-transform: uppercase;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

form input {
  height: 1.4rem;
  width: 14rem;
  margin-right: 3rem;
  margin-bottom: 1.1rem;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 4px;
  padding-left: 0.6rem;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 0rem;
}

form input:focus {
  outline: 1px solid rgb(0, 204, 255);
  box-shadow: 2px 2px 5px 0.5px rgba(0,0,0,0.2);
}

form .field-error,
form #email:invalid,
form #phone:invalid,
form #first-name:invalid,
form #last-name:invalid {
  border: 1px solid red;
}

.actions button {
  padding: 1rem 3rem;
  border: none;
  margin-top: 1.7rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: bolder;
  color: white;
  background-color: rgb(42, 138, 50);
  border-radius: 5px;
  box-shadow: 1px 1px 2px 0.1px rgba(32, 116, 49, 0.7);
}

.actions button:hover {
  cursor: pointer;
}

.actions p {
  font-family: Arial, Helvetica, sans-serif;
}

.actions p a {
  text-decoration: none;
  color: rgb(23, 96, 38);
  font-weight: bolder;
}
